<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BankingApp">
	<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.inetbankingV1.testcases.TC01_LoginTest" />
			<class name="com.inetbankingV1.testcases.TC_AddCustomerTest_003" />
		<!-- 	<class name="com.inetbankingV1.testcases.TC002_LoginDDT" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- BankingApp -->
